body {
	margin: 0;
	color: #e1e1e1;
	font: 12px/15px Arial, Helvetica, sans-serif;
	min-width: 90%;
	height: 100%;
	position: relative;
}

body.home {
	background: #2f2f2f;
}

div.clear {
	clear: both;
}

a {
	color: #489eff;
	text-decoration: underline;
	font-weight: bold;
}

a img {
	border: 0;
}

a:hover {
	text-decoration: none;
}

input, textarea, select {
	font: 100% arial,sans-serif;
	vertical-align: middle;
}

form,fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

em {
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

h1 {
	font-size: 200%;
	color: #ff892a;
}

h2 {
	font-size: 160%;
}


h3 {
	font-size: 130%;
}

hr {
	border-width: 0px;
	color: #2f2f2f;
	background-color: #2f2f2f;
	height: 1px;
}

ul.menuBlocks {
	list-style-type: none;
	padding-left:0px;
	margin-top: 0px;
	margin-bottom:0px;



}

ul + ul, ul + ul.menuBlocks, ul + h1, ul + h2, ul + p {
	margin-top: 35px;

}

.fixed {
	font-family: Fixed, Courier, monospace;
	font-size: 13px;
}

div.warning {
	border: 2px solid #ff0000;
	padding: 10px 20px 10px 20px;
	color: #800000;
	margin-top: 15px;
	margin-bottom: 15px;
}

div.warning h1 {
	color: #ff0000;
}

div.message {
	border: 1px solid #030101;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	background-color: #b69a00;
	width: 45%;
	color:#000;
	font-size:15px;
}

div#container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #222a2d;
	font-size: 13px;
}

div#header {
	padding: 20px;
	overflow: hidden;
	background: #2f2f2f;
	border-bottom: 5px solid #114171;
	text-align: center;
}

div#system_info {
	padding: 25px;
	border-top:1px solid #ff892a;
	color:#c3c3c3;
	background-color:#222a2d;
	text-align: right;
	font-size:15px;
}

div#main_body {
	float: left;
	width: 82.9%;
	/*border-left:1px solid #0a3867;*/
	border-bottom:1px solid #0a3867;
	background: #504f4f;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 13px;
}

div.body_padded {
	padding-left: 20px;
	padding-right: 20px;
}

div#main_menu {
	float:left;
	width: 17%;
	height: 100%;
	background-color: #222a2d;
	padding-top: 10px;
	
	border-right:1px solid #ff892a;
}

div#main_menu li {
	/*border-width: 1px;*/
	height:25px;
	width:100%;
	/*border-style: solid;*/
	/*border-color:#3f4e54;*/
	border-bottom:1px solid #3f4e54;
	padding-top: 20px;/*3px 5px 3px 5px;*/
	margin-bottom: 0px;
	background-color: #222a2d;
	text-align:center;
	text-shadow:0px 2px 2px black;
	transition:background-color .2s ease;
}

div#main_menu li a {
	color: #acb1bc;
	text-decoration: none;
	text-decoration: none;
}

div#main_menu li.selected {
	background-color: #0d1115;
}

div#main_menu li.selected a {
	color: #d2d4d4;
}

div#main_menu li:hover {
	border-color:#ff892a;
	/*width:225px;*/
	border-left: 5px solid #ff892a;
	width:225px;
	background-color:#414b51;
}

div#main_menu li:hover a {
	color: #acb1bc;
}

div#main_menu_padded {
	padding: 0px;
}

div#footer {
	color: #999999;
	background: #2f2f2f;
	padding: 10px;
	text-align: center;
	border-top: 5px solid #114171;
}

input.popup_button {
	border-width: 1px;
	border-style: solid;
	border-color: #D2D4D4 #6B778C #6B778C #D2D4D4;
	padding: 10px;
	margin-bottom: 3px;
	background-color: #22374a;
	color:#ff892a;
	float: right;
}

div.vulnerable_code_area {
	background-color: #2d2d2d;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
	width:60%;
}

div#guestbook_comments {
	width: 60%;
	background-color: #2d2d2d;
	border-width: 1px;
	border-style: solid;
	border-color: #ff892a;
	padding: 15px;
	margin-bottom: 5px;
}

div#idslog {
	border: 1px solid #C0C0C0;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	background-color: #f8fafa;
}

pre {
	color: #f3ff2e;
	font-size:15px;
}

div.submenu {
	border-bottom: 1px solid #000000;
	margin-bottom: 15px;
	padding: 4px 0px 10px 0px;
	font-size: 13px;
}

span.submenu_item {
	padding: 0px 10px 0px 10px;
}

span.submenu_item + span.submenu_item {
	border-left: 1px dashed #000000;
	font-size: 13px;
}

span.selected {
	font-weight: bold;
}

span.success {

	color:green;
}

span.failure {
	color:red;
	font-weight: bold;
}
